<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Tempo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="static/script.js" defer></script>
</head>

<body>
    <h1>Consulte a Previsão do Tempo</h1>
    <form id="weather-form">
        <input type="text" id="city" placeholder="Digite o nome da Cidade" required>
        <button type="submit">Consultar</button>
    </form>
    <div id="weather-results"></div>
</body>

</html>